/*
*{
    color: white;
}

#column_right{
    background-image: url("../images/bg_carte5.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
}
*/

*{
    font-family : 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/*Réglages marges pour afficher les ancres avec le menu fixe*/
#entrees{
    margin-top: -130px;
    padding-top: 130px;
}
//Réglages marges pour afficher les ancres avec le menu fixe
#entrees{
    margin-top: -130px;
    padding-top: 130px;
    
}
#plats{
    margin-top: -130px;
    padding-top: 130px;
}
#desserts{
    margin-top: -130px;
    padding-top: 130px;
}
#carte_menus{
    margin-top: -130px;
    padding-top: 130px;
}
