
*{
    margin: 0;
}
body{
    background-color: rgb(145, 7, 7);   
}

#menu_gauche,h1{
    text-align: center;
    margin-top: 30px;
}
#menu_gauche {
    font-size: medium;
    background-color: rgb(145, 7, 7);   
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
    position: fixed;
    z-index: 1;
}

.contacts{
    margin-top: 45px;
}
.contacts,p{
    font-size: large;
}
.horaires{
    margin-top: 45px;
}
.horaire,p{
    font-size: large;
}

#colonne_droite {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    color: white;
    margin-right: 0;  
    background-image: url("../images/bg_carte101.jpg");
    right: 0;
    height: 100%;
    margin-right: 0px; 
}

#welcome {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 0px;
    font-family: 'Krona One', sans-serif;
    font-size: xx-large;
    left: 0;
    right: 0;
    color: #ac130b; 
    text-shadow: rgba(255, 255, 255, 0.822) 0.1em 0.1em 0.1em;
    width: 100%;
}
.titre{
    font-size: 1.5;
    font-weight: 900;
}

#banniere {
    margin-bottom: 60px;
    margin-top: 100px;
}

.intro{
    text-shadow: black 0.1em 0.1em 0.2em;
    padding-top: 20px;
}
.containercarousel{
display: flex;
justify-content: center;
}
#paragraphe1 {
    font-size: x-large;
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
    font-weight: 500;
}

#paragraphe2 {
    font-size: xx-large;
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
    background-color: rgba(0,0,0,0.6) ;
    padding: 15px;
}

.nav-link {
    font-size: x-large;
}

nav {
    background-color: rgb(145, 7, 7);   
}

a {
    color: white;
}

a:hover {
    color: rgb(0, 0, 0);
    background-color: #f5f4f4;
    text-shadow: none;
    font-weight: 500;
}

.navbar-toggler {
    color: white;
}

#menu{
    background-color: rgb(145, 7, 7);   
    position: fixed;
}

/* menu carte */
section{
}
h2{
    text-shadow: black 0.1em 0.1em 0.2em;
}
nav{
    margin-left: -15px;
    margin-right: -15px;
}
.navCarte{
    background-color: black;
}
/* carte */
td{
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
    background-color:  rgba(0, 0, 0, 0.6); 
}
.prix{
    text-align: right;
    color: white;
}

#entrees{
    margin-top: -120px;
    padding-top: 130px;
}

#plats{
    margin-top: -120px;
    padding-top: 130px;
}

#desserts{
    margin-top: -120px;
    padding-top: 130px;
}

#carte_menus{
    margin-top: -120px;
    padding-top: 130px;
    text-shadow: black 0.1em 0.1em 0.1em;
    
}
.card1{
    background-color: rgb(15, 138, 56);
}
.card2{
    background-color: rgb(224, 223, 223);
}
.card3{
    background-color: rgb(145, 7, 7);   
}


/* formulaire */
form{
    background-color: rgb(17, 19, 17, 0.9);
    margin-top: 30px;
    margin-right: -15px;
    margin-left: -15px;
    padding-bottom: 30px;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 0px;
    text-shadow: black 0.1em 0.1em 0.2em;
}
.resa{
    margin-top: 10px;
}
option{
    color: rgb(0, 0, 0);
}
.btn-primary{
    background-color: rgb(145, 7, 7);   
    border-color: white;
}
.btn-primary:hover{
    background-color: rgb(15, 138, 56);
    border-color: white;
}



footer{
    background-color: rgb(145, 7, 7);   
    margin: 0;
    padding: 0;
    color: white;
    text-align: center;
    vertical-align: middle;
    height: 40px;
}

#validationResa{
    display: flex;
    justify-content: center;
    background-color: #ac130b;
    color: white;
}
@media (max-width: 600px){
    #menu_gauche{
        background-color: rgb(145, 7, 7);   
        position: fixed;
    }
    #welcome {
        text-align: center;
        margin-top: 110px;
    }
    #menu_gauche,h1{
        text-align: center;
        margin-top: 0px;
    }
    .card-body{
        margin-bottom: 20px;
    }
}